body {
  margin: 16px;

  font-size: 12px;
}

h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

p,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

em {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

/* unvisited link */
a:link {
  color: #1abc9c;
}

/* visited link */
a:visited {
  color: #1abc9c;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: #1abc9c;
}
